<ion-view title="Playlists">
  <ion-nav-buttons side="right">
    <button ng-click="ctrl.toggle_search()" class="button button-icon icon ion-ios7-search"></button>
  </ion-nav-buttons>
  <div class="bar bar-ext de-ext" ng-class="{'de-ext': !ctrl.search}">
    <div class="search">
      <form ng-submit="search()">
        <label class="search-wrapper">
          <input type="text" placeholder="Search" class="search-input" ng-model="query.q">
          <button class="icon ion-ios7-barcode-outline barcode" ng-click="scan_barcode()"></button>
        </label>
      </form>
    </div>
  </div>
  <ion-content class="has-header" ng-class="{'ext-header': ctrl.search}">
    <ion-list>
      <ion-item ng-repeat="playlist in app.playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
