/* Empty. Add your own CSS if you like */

.bar-ext  {
    height: 100px;
    top: 0px;
    background: none #f8f8f8;

    overflow: hidden;

    z-index: 8;
}

.bar-ext .right-buttons  {
    height: 43px;
}

.bar-ext.de-ext  {
    height: 44px;
}

.bar-ext .search  {
    position: relative;
    top: 48px;
    width: calc(100% - 0px);
    opacity: 1;
    /*width: auto;*/
    /*padding: 0 4px;*/
}

.search .search-wrapper  {
    border: 1px solid #1c3e8e;
    /*margin: 0 4px;*/
    width: 100%;
    /*height:*/
    display: inline-block;
    background: none #fff;
    padding: 0 12px;
    /*padding-right: 20px;*/
}

.search .search-input  {
    width: calc(100% - 50px);
    /*width: auto;*/
    display: inline-block;
    margin-bottom: 4px;
    height: 26px;
}

.search .barcode  {
    display: inline-block;
    position: relative;

    font-size: 18px;
    background: none transparent;
    border: none;

    height: auto;
    width: 40px;
    top: 2px;
    margin: 0;
}


.has-header.ext-header  {
    top: 100px;
}

.bar-ext.de-ext .search  {
    opacity: 0;
}

.bar-ext,
.has-header,
.bar-ext .search,
.fp-menu  {
    transition: all 0.3s;
}


.fp-menu  {
    /*background: #93f;*/
    background: #fff;
    border: 1px solid #999;

    position: absolute;
    width: 280px;
    max-width: 90%;
    padding: 60px 20px 20px 20px;

    top: 0px;
    left: 20px;
    /*bottom: 20px;*/

    z-index: 6;

    transition: top 0.4s, transform 0.3s;
    box-shadow: 2px 2px 5px #888888;
}

.fp-menu li  {
    margin: 8px 0;
}

.fp-menu.de-ext  {
    top: -240px;
}

.fp-menu.ext-header  {
    transform: translate(0,58px);
}
